PORT=3001
JWT_SECRET=your_super_secret_key_shared_with_bookstack
CONVERT_API_KEY=exampleJEgVyA_o1zMTzbztW3BpjHAV_wp9ZgRoatviCpZdPFw
BOOKSTACK_BASE_URL=http://127.0.0.1:6875
BOOKSTACK_TOKEN_ID=example0z4oXkOyTdTp5KtYW9VP0TvETlE8hEKx
BOOKSTACK_TOKEN_SECRET=example6ExYSNYnfEQpkf5c5ScgHqg4rmaX5y8H
